body{
    color: aliceblue;
    margin: 0;
}


h1{
    font-family: 'Noto Serif', serif;
    font-size: 56px;
    color: white;
    text-align: center;
}
h2{
    font-family: 'Noto Serif', serif;
    font-size: 32px;
    color: rgb(148, 67, 9);
    text-align: center;
}
h3{
    font-family: 'Noto Serif', serif;
    font-size: 24px;
    color: #000;
    text-align: left;
}
p{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    color: #000;
    text-align: left;
}

.homepage-hero{
    height: 240px;
    text-align: center;
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: cornflowerblue;
    background-image: url("https://images.pexels.com/photos/256262/pexels-photo-256262.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    background-attachment: fixed;
}

.main-content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;

}
footer{
    background-color: beige;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}